<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginCheck</servlet-name>
  	<display-name>LoginCheck</display-name>
  	<description></description>
  	<servlet-class>dbAccess.LoginCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HomePage</servlet-name>
  	<display-name>HomePage</display-name>
  	<description></description>
  	<servlet-class>dbAccess.HomePage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HomePag</servlet-name>
  	<display-name>HomePag</display-name>
  	<description></description>
  	<servlet-class>dbAccess.HomePag</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchTime</servlet-name>
  	<display-name>SearchTime</display-name>
  	<description></description>
  	<servlet-class>dbAccess.SearchTime</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Booking</servlet-name>
  	<display-name>Booking</display-name>
  	<description></description>
  	<servlet-class>dbAccess.Booking</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginCheck</servlet-name>
  	<url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HomePage</servlet-name>
  	<url-pattern>/HomePage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HomePag</servlet-name>
  	<url-pattern>/HomePag</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchTime</servlet-name>
  	<url-pattern>/SearchTime</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Booking</servlet-name>
  	<url-pattern>/Booking</url-pattern>
  </servlet-mapping>
</web-app>
